<label class="container"><span class="span">Mon</span>
    <input type="checkbox" name="biker.dowMonday" [(ngModel)]="biker.dowMonday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Tue</span>
    <input type="checkbox" name="biker.dowTuesday" [(ngModel)]="biker.dowTuesday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Wed</span>
    <input type="checkbox" name="biker.dowWednesday" [(ngModel)]="biker.dowWednesday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Thu</span>
    <input type="checkbox" name="biker.dowThursday" [(ngModel)]="biker.dowThursday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Fri</span>
    <input type="checkbox" name="biker.dowFriday" [(ngModel)]="biker.dowFriday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Sat</span>
    <input type="checkbox" name="biker.dowSaturday" [(ngModel)]="biker.dowSaturday">
    <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Sun</span>
    <input type="checkbox" name="biker.dowSunday" [(ngModel)]="biker.dowSunday">
    <span class="checkmark"></span>
</label>