<div class="section group header footer">
  <div class="col span_1_of_12"></div>
  <div class="col span_9_of_12">
    <strong>Bikers Registration - Venturus Test App</strong>
  </div>
  <div class="col span_2_of_12">
    Version 1.0.0
  </div>
</div>