<div class="content">
    <form>
        <div class="section group">
            <div class="col span_1_of_12"></div>

            <div class="col span_11_of_12">
                <h2>User registration</h2>
            </div>
        </div>

        <div class="section group">
            <div class="col span_1_of_12"></div>

            <div class="col span_4_of_12">
                <label class="bold-label" for="fullName">Full name*</label><br>
                <input type="text" name="fullName" [(ngModel)]="biker.fullName"/>
            </div>

            <div class="col span_1_of_12"></div>

            <div class="col span_6_of_12">
                <label class="bold-label">Ride in group?*</label><br>
                <app-radiobutton [biker]="biker"></app-radiobutton>
            </div>
        </div>

        <div class="section group">
            <div class="col span_1_of_12"></div>

            <div class="col span_4_of_12">
                <label class="bold-label" for="email">E-mail*</label><br>
                <input type="text" name="email" [(ngModel)]="biker.email"/>
            </div>

            <div class="col span_1_of_12"></div>
            
            <div class="col span_6_of_12">
                <label class="bold-label">Days of the Week*</label><br>

                <app-checkbox [biker]="biker"></app-checkbox>
            </div>
        </div>


        <div class="section group">
            <div class="col span_1_of_12"></div>

            <div class="col span_4_of_12">
                <label class="bold-label" for="city">City</label><br>
                <input type="text" name="city" [(ngModel)]="biker.city"/>
            </div>

            <div class="col span_3_of_12"></div>

            <br>
            <div class="col span_1_of_12">
                <button (click)="cancel()" class="cancel">Cancel</button>
            </div>

            <div class="col span_1_of_12">
                <button (click)="saveBiker()" class="save">Save</button>
            </div>

        </div>

    </form>
</div>