input[type="text"] {
    width: 100%;
    height: 25px;
    padding-left:5px;
    border: 2px solid #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
}

input:focus { 
    border: 2px solid #34a00f;
}

.bold-label {
    font-weight: bold;
    display: block;
    font-size: 14px;
}

button {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button.save {
    background-color:#34a00f;
    color: white;
}

button.cancel {
    background-color:#e4e4e4;
}

button.save:hover {
    background-color: #2e900d;
}

button.cancel:hover {
    background-color: #d7d7d7;
}