<div class="section group header">
  <div class="col span_1_of_12"></div>
  <div class="col span_4_of_12">
    <fa-icon [icon]="faBars" class="green-icon"></fa-icon>
    <strong>Bikers Registration - Venturus Test App</strong>
  </div>
  <div class="col span_5_of_12"></div>
  <div class="col span_2_of_12">
    <fa-icon [icon]="faUser" class="green-icon"></fa-icon>
    Dave | <strong class="logout" (click)="logout();">Log out</strong>
  </div>
</div>