.header {
    border-bottom: 1px solid black;
}

.green-icon {
    color: #488e2f;
    padding-right: 10px;
}

.logout {
    cursor:pointer;
}

.logout:hover {
    color: red;
    text-decoration: underline;
}