.container {
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
    color: gray;
  }
  
  .span {
    position:relative;
    top: 5px;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border:2px solid #e4e4e4;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .checkmark:hover {
    border:2px solid #34a00f; 
  }
  
  .container input:checked ~ .checkmark {
    background-color: #fff;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: black;
  }