<label class="container"><span class="span">Always</span>
  <input type="radio" checked="checked" name="biker.groupRide" value="A" [(ngModel)]="biker.groupRide">
  <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Sometimes</span>
  <input type="radio" checked="checked" name="biker.groupRide" value="S" [(ngModel)]="biker.groupRide">
  <span class="checkmark"></span>
</label>

<label class="container"><span class="span">Never</span>
  <input type="radio" checked="checked" name="biker.groupRide" value="N" [(ngModel)]="biker.groupRide">
  <span class="checkmark"></span>
</label>