<!-- this is a static navigation component with some info just to match the guide UI -->
<fake-navigation></fake-navigation>
<bikers-form [biker]="biker" (messageEvent)="saveBiker($event)"></bikers-form>
<bikers-list [bikers]="bikers" (messageEvent)="loadBiker($event)" (deleteMessageEvent)="deleteBiker($event)"></bikers-list>