<div class="section group navigation">
  <div class="col span_1_of_12"></div>

  <div class="col span_2_of_12">
    <fa-icon [icon]="faPuzzlePiece" class="gray-icon fa-2x"></fa-icon>
    <div style="display:inline;">Sector</div>
    <strong>
      <div>Sports</div>
    </strong>
  </div>

  <div class="col span_2_of_12">
    <fa-icon [icon]="faFutbol" class="gray-icon fa-2x"></fa-icon>
    Sport type<br><strong>Bycicles</strong>
  </div>

  <div class="col span_2_of_12">
    <fa-icon [icon]="faBicycle" class="gray-icon fa-2x"></fa-icon>
    Mode<br><strong>Mountain Cross</strong>
  </div>
</div>