<div class="container">
    <app-header></app-header>
    <!-- this is a static breadcrumb component with some info just to match the guide UI -->
    <fake-breadcrumb></fake-breadcrumb>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>