<div class="section group header">
  <div class="col span_4_of_12"></div>
  <div class="col span_1_of_12">
    <img src="https://optinmonster.com/wp-content/uploads/2018/06/android-404-845x504.png">
  </div>
</div>