.green-icon {
  color: #488e2f;
  padding-right: 10px;
}

table {
  border-collapse: collapse;
  width:100%;
}

table th {
  height: 50px;
  padding-left: 10px;
  padding-top: 15px;
}

table tr {
  height: 40px;
}

table td {
  padding-left: 10px;
}

.table-title {
    background: #34a00f;
    color: #ffffff;
    border-bottom: 2px solid #488e2f;
    text-align: left;
}

.row:nth-child(even) {
  background: #f4f4f4;
}
  
.row:hover {
  background: #c5dfbc;
}
  
.row-content {
  padding: 0.85rem;
  color: #333;
}

.row-buttons {
  visibility: hidden;
}

.row:hover .row-buttons {
  visibility: visible;
}