<div class="section group">
    <div class="col span_1_of_12"></div>

    <div class="col span_11_of_12">
        <h2>Bikers</h2>
    </div>
</div>

<div class="section group">
    <div class="col span_1_of_12"></div>

    <div class="col span_11_of_12">
        <table class="table">
            <thead class="table-title">
                <th>Full name</th>
                <th>E-mail</th>
                <th>City</th>
                <th>Ride in group</th>
                <th>Days of the week</th>
                <th>Registration day</th>
                <th></th>
                <th></th>
            </thead>
            <tr *ngFor="let biker of bikers" class="row">
                <td>{{biker.fullName}}</td>
                <td>{{biker.email}}</td>
                <td>{{biker.city}}</td>
                <td *ngIf="biker.groupRide =='S'">Sometimes</td>
                <td *ngIf="biker.groupRide =='A'">Always</td>
                <td *ngIf="biker.groupRide =='N'">Never</td>
                <td>{{displayDaysOfTheWeek(biker)}}</td>
                <td>{{biker.registrationDate | date:"dd/MM/yyyy HH:mm"}}</td>
                <td (click)="loadBiker(biker)">
                    <fa-icon [icon]="faPencilAlt" class="green-icon row-buttons"></fa-icon>
                </td>
                <td (click)="deleteBiker(biker)">
                    <fa-icon [icon]="faTrash" class="green-icon row-buttons"></fa-icon>
                </td>
            </tr>
        </table>
    </div>
</div>