<div class="section group">
  <div class="col span_4_of_12"></div>
  <div class="col span_5_of_12">
    <p>This should be an useful help page, but this is everything you'll find here today.</p>
  </div>
</div>

<div class="section group">
  <div class="col span_5_of_12"></div>
  <div class="col span_5_of_12">
    <img src="http://dontpokethisbear.com/wp-content/uploads/2018/07/help-dog-meme-300x225.png">
  </div>
</div>

<div class="section group">
  <div class="col span_5_of_12"></div>
  <div class="col span_5_of_12">
    Go back to the
    <fa-icon [icon]="faBicycle" class="gray-icon fa-2x"></fa-icon>
    <a [routerLink]="['/bikers']"> bikers</a> page </div>
</div>