<div class="section group breadcrumb">
  <div class="col span_1_of_12"></div>
  <div class="col span_9_of_12">
    <fa-icon [icon]="faHome" class="green-icon"></fa-icon> > Page 1 > Breadcrumb > Current page
  </div>
  <div class="col span_2_of_12">
    <fa-icon [icon]="faLifeRing" class="green-icon"></fa-icon> 
    <a [routerLink]="['/help']">Help</a>
  </div>
</div>